<p id="notice"><%= notice %></p>

<h1>Trails</h1>

<table class="table" id="myTable">
  <thead>
    <tr>
      <th onclick="sortTable(2)">Name </th>
      <th onclick="sortTable(2)">Reservoir </th>
      <th onclick="sortTable(2)">Maplink </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trails.each do |trail| %>
      <tr>
        <td><%= link_to trail.name, trail %></td>
        <% if trail.reservoir %>
          <td><%= trail.reservoir.capitalize %></td>
        <% end %>
        <% if trail.maplink != nil %>
          <td><%= link_to "Link to Map (Opens in new tab)", "#{trail.maplink}", :target => "_blank" %></td>
        <% else %>
          <td>Sorry, this trail is not currently mapped.</td>
        <% end %>
        <td><%= link_to 'Trail Detail', trail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_page?(controller: 'trails', action:('barker')) %>
  <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/view?zoom=14&center=29.7697%2C-95.6463&key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}", width: 800, height: 800, frameborder: 0  %>
<% elsif current_page?(controller: 'trails', action:('addicks'))%>
  <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/view?zoom=14&center=29.7908%2C-95.6236&key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}", width: 800, height: 800, frameborder: 0  %>
<% end %>
<br>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.getElementsByTagName("TR");
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
