<div class="container well-lg">
  <p id="notice"><%= notice %></p>
  <button type="button" class="btn btn-primary" onclick="window.history.back()">Back</button>
  <br></br>

  <table class="table">
    <thead>
      <tr>
        <th>Attribute </th>
        <th>Details </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Name: </td>
        <td><%= @trail.name %></td>
      </tr>
      <tr>
        <td>Description: </td>
        <td><%= @trail.description %></td>
      </tr>
      <tr>
        <td>Link to Map: </td>
        <% if @trail.maplink != nil %>
          <td><%= link_to :MapLink, @trail.maplink, :target => "_blank" %></td>
        <% else %>
          <td>Sorry, this trail is not currently mapped.</td>
        <% end %>
      </tr>
      <tr>
        <td>KML File(if applicable): </td>
        <td><%= @trail.kmlfile %></td>
      </tr>
    </tbody>
  </table>

  <% if @trail.maplink != nil %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=#{@trail.name.gsub!(/\s/,'+')}+Trail,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% end %>
</div>
