<div class="container well-lg">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Back', trails_path, class: 'btn btn-primary' %>
  <%= link_to 'Add Comment', edit_trail_path, class: 'btn btn-primary' %>
  <%= link_to 'Add to Favorites', {:controller => "trails", :action => "favorite", :id => @trail.id }, class: 'btn btn-primary' %>
  <br></br>

  <table class="table">
    <thead>
      <tr>
        <th>Attribute </th>
        <th>Details </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Name: </td>
        <td><%= @trail.name %></td>
      </tr>
      <tr>
        <td>Description: </td>
        <td><%= @trail.description %></td>
      </tr>
      <tr>
        <td>Comments: </td>
        <td>
          <% @trail.notes.each do |note| %>
            <p> <%= note %> </p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Link to Map: </td>
        <% if @trail.maplink != nil %>
          <td><%= link_to "Google Maps (Opens in new tab)", @trail.maplink, :target => "_blank" %></td>
        <% else %>
          <td>Sorry, this trail is not currently mapped.</td>
        <% end %>
      </tr>
      <tr>
        <td>KML File(if applicable): </td>
        <td><%= @trail.kmlfile %></td>
      </tr>
    </tbody>
  </table>

  <br></br>

  <% if @trail.name == "Twine" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Twine+Trail,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Mason Highland" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Mason+Highland,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Wilderness" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Wilderness+Trail,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Westheimer Pkwy Connector" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/view?zoom=17&center=29.7283148%2C-95.7191001&key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Bayou View" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Bayou+View+Trail,Katy+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Bill Archer Bark Park to Cullen Trail" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Bill+Archer+Park+Connector,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Bill Archer Park Connector" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Bill+Archer+Park+Connector,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Bear Creek to Langham Creek" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Bear+Creek+Langham+Creek,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.name == "Langham Creek to Woodcreek" %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=Langham+Creek+Woodcreek,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% elsif @trail.maplink != nil %>
    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=#{@trail.name.gsub!(/\s/,'+')}+Trail,Houston+TX", width: 800, height: 800, frameborder: 0  %>
  <% end %>
</div>
