<div class="container well-lg">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @trail.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @trail.description %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @trail.notes %>
  </p>

  <p>
    <strong>Maplink:</strong>
    <%= link_to "Link to Map", "#{@trail.maplink}", :target => "_blank" %>
  </p>

  <p>
    <strong>KML File:</strong>
    <%= @trail.kmlfile %>
  </p>

    <strong>Google Map:</strong>
    <br></br>
    <%= content_tag :iframe, '', src: "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAPS_EMBED_API_KEY']}&q=#{@trail.name}", width: 600, height: 450, frameborder: 0  %>

  <%= link_to 'Back', trails_path %>
</div>
