<div class="container well-lg">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @trail.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @trail.description %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @trail.notes %>
  </p>

  <p>
    <strong>Maplink:</strong>
    <%= @trail.maplink %>
  </p>

  <%= link_to 'Edit', edit_trail_path(@trail) %> |
  <%= link_to 'Back', trails_path %>
</div>
