<!DOCTYPE html>
<html>
  <head>
    <title>KatyHikingTrails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6027534741586405",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <div class="container well-lg">
    <div class="navbar-wrapper">
      <div class="container">
          <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container full-width">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/"> Home </a></li>
                  <li><a href="/trails"> All Trails </a></li>
                  <li><a href="/trails/addicks"> Addicks Trails </a></li>
                  <li><a href="/trails/barker"> Barker Trails </a></li>
                  <% if !current_user %>
                    <li><%= link_to "Sign In", new_user_session_url %></li>
                    <li><%= link_to "Sign Up", "/users/sign_up" %></li>
                  <% elsif current_user %>
                    <li><a href="/trails/favorites"> Favorite Trails </a></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></li>
                  <% end %>
                  <li><a href="https://waterdata.usgs.gov/tx/nwis/uv?cb_all_=on&cb_00054=on&cb_62615=on&cb_62615=on&format=gif_default&site_no=08073000&period=&begin_date=&end_date" target="_blank"> Addicks Water Gauge (External) </a></li>
                  <li><a href="https://waterdata.usgs.gov/tx/nwis/uv?cb_all_=on&cb_00045=on&cb_00054=on&cb_62615=on&cb_62615=on&format=gif_default&site_no=08072500&period=&begin_date=&end_date" target="_blank"> Barker Water Gauge (External) </a></li>
              </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
    <br></br>
    <%= content_tag(:div, flash[:error], :id => "flash_error", class: "alert alert-danger alert-dismissable", data: { dismiss: 'alert' }) if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "alert alert-success alert-dismissable", data: { dismiss: 'alert' }) if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert", class: "alert alert-danger alert-dismissable", data: { dismiss: 'alert' }) if flash[:alert] %>
    <%= yield %>
  </body>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
